{% assign blogposts = page.blog | where: "hidden", "false" %}
{% unless blogposts.size < 1 %}
<div class="blog">
  <div class="blogwrapper">
    <h1>Aktuelle Geschichten & Events</h1>
    {% for article in blogposts %}
    <div class="article">
      <div class="imgwrapper">
        <img src="{{ article.image }}" alt="">
      </div>
      <div class="copy">
        <div class="meta">
          <span>{{article.date | date: "%d. %m. %Y" }}</span> | <span>{{ article.publisher }}</span>
        </div>
        <h2><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h2>
        <div class="text">
          {{ article.text }}
          <a href="{{ article.link }}" class="articlelink" target="_blank">weiterlesen</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endunless %}
