<div class="blog">
  <div class="blogwrapper">
    <h1>Blog</h1>
    {% for article in page.blog %}
    <div class="article">
      <div class="imgwrapper">
        <img src="{{ article.image }}" alt="">
      </div>

      <div class="meta">
        <span>{{article.date | date: "%d. %m. %Y" }}</span> | <span>{{ article.publisher }}</span>
      </div>

      <h2>{{ article.title }}</h2>

      <div class="text">
        {{ article.text }}
        <a href="{{ article.link }}" class="articlelink">weiterlesen</a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>
