.faq {
  ol {
    padding-left: 1em;
    list-style-type: decimal;
    color: $brand;

    li {
      display: list-item;
      text-decoration: underline;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
