<!-- Header -->
<div class="header">
  <ul class="logos">
    <li><img src="assets/images/headerlogos/correctiv.png" alt=""></li>
    <li><img src="assets/images/headerlogos/mieterverein.png" alt=""></li>
    <li><img src="assets/images/headerlogos/abendblatt.png" alt=""></li>
  </ul>
  <ul class="navigation">
    <li><a href="/">Start</a></li>
    <li><a href="/ueber">Über</a></li>
    <li><a href="">FAQ</a></li>
    <li><a href="">Kontakt</a></li>
    <li><a href="#signup" class="join">Mitmachen</a></li>
  </ul>
</div>
