<!-- Header -->
{% assign headerlinks = site.pages | where: "type", "header" | sort : "nav-order" %}

<div class="header">
  <ul class="logos">
    <li><a href="/"><img src="assets/images/headerlogos/correctiv.png" alt=""></a></li>
    <li><a href="/"><img src="assets/images/headerlogos/mieterverein.png" alt=""></a></li>
    <li><a href="/"><img src="assets/images/headerlogos/abendblatt.png" alt=""></a></li>
  </ul>
  <ul class="navigation">

    {% for item in headerlinks %}
      <li><a href="{{item.permalink}}">{{item.nav-name}}</a></li>
    {% endfor %}
    <li><a href="https://www.eventbrite.de/o/correctiv-recherchen-fur-die-gesellschaft-10611950281" target="_blank">Events</li>
    <li><a href="/#signup" class="join">Mitmachen</a></li>
  </ul>
</div>
