<!-- Timeline -->
<div class="timeline">
  <div class="label-container">
    <div id="start__label" class="label"></div>
    <div id="milestone__label" class="label"></div>
    <div id="end__label" class="label"></div>
  </div>
  <div id="outerContainer">
    <div id="barContainer">
      <div id="progressContainer">
        <div id="start" class="milestone"></div>
        <div id="milestone" class="milestone"></div>
        <div id="end" class="milestone"></div>
      </div>
    </div>
  </div>
  <div class="label-container">
    <div class="segment__label--left">Eigentümer erheben</div>
    <div class="segment__label--right">Daten auswerten</div>
  </div>
</div>