// Core layout styles

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

@mixin wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper{
  @include wrapper;
  padding: 0 24px;
}

body{
  position: absolute;
  width:100%;
  height: 100%;
  overflow-y:scroll;

  @include mq($until: $sm) {
    max-width: 100%;
    overflow-x: hidden;

  }
}

.spaced {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .content {
    max-width: $content-width;
    padding: 1em;

    p {
      font-size: 16px;
      line-height: 26px;

      a {
        text-decoration: underline;
      }

    }

    h1 {
      font-size: 2.1875rem;
      line-height: 2.1875rem;
      margin-top: 50px;
    }
  }

  :target:before {
    content:"";
    display:block;
    height:100px; /* fixed header height*/
    margin:-100px 0 0; /* negative fixed header height */
  }
}



.bulleted-lists {
  ul {
    padding-left: 1em;

    li {
      list-style-type: disc;
      display: list-item;
      padding: .4em;
    }
  }
}
