---
layout: compress
---

{% assign theme = site.site-theme %}

{% for class in page.main-classes %}
  {% assign main-classes = '' | append: ' ' | append: class %}
{% endfor %}
{% if page.theme != nil %}
  {% capture page_theme %}page.theme{% endcapture %}
{% else %}
  {% capture page_theme %}{{ theme }}{% endcapture %}
{% endif %}
<!DOCTYPE>
<html>
  {% include global/head.html %}
  <body class="{{ page.page-name }}-page {{ page_theme }}">
    {% include components/header.html %}
    <main class="{{ main-classes }}">
      <ul class="slides">
        <li style="background-image: url(https://picsum.photos/1200/1204/)" class="hero">
          <img src="assets/images/wghh-logo.png" alt="Wem gehört Hamburg Logo">
        </li>
        {% for slide in page.slides %}
        <li style="background-image: url({{ slide.image }})">
          <div class="content">
            <h1>{{ slide.title }}</h1>
            <div class="teaser"> {{ slide.teaser }}</div>
            <div class="main"> {{ slide.main }}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="signup">
        <div class="content">
          <div class="text">
            <div id="mc_embed_signup">
              <form action="https://correctiv.us12.list-manage.com/subscribe/post?u=74b23e1b0af8c36eb217e01c1&amp;id=b83e0dbdcd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <h2>Newsletter zur Immobilien-Recherche</h2>
                  <p>Sie sind am Projekt interessiert? Sie wollen sich beteiligen? Tragen Sie sich in unseren Newsletter ein. Und wir halten Sie über das Projekt auf dem Laufenden.</p>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74b23e1b0af8c36eb217e01c1_b83e0dbdcd" tabindex="-1" value=""></div>
                  <div>
                    <input type="email" value="" name="EMAIL" placeholder="deine.email@example.com"class="required email" id="mce-EMAIL">
                    <input type="submit" value="Abonnieren" name="suscribe" id="mc-embedded-subscribe">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="blog">
        <div class="blogwrapper">
          <h1>Blog</h1>
          {% for article in page.blog %}
            <div class="article">
              <div class="imgwrapper">
                <img src="{{ article.image }}" alt="">
              </div>
              <div class="copy">
                <div class="meta">
                  <span>{{article.date}}</span> | <span>{{ article.publisher }}</span>
                </div>
                <h2>{{ article.title }}</h2>
                <div class="text">
                  {{ article.text }}
                  <a href="{{ article.link }}" class="articlelink">weiterlesen</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="partners">
        <div class="title">Ein Projekt von:</div>
        <div class="logos">
          <div class="imgwrapper">
            <img src="assets/images/logos/correctiv.jpg" alt="Correctiv Logo">
          </div>
          <div class="imgwrapper">
            <img src="assets/images/logos/mietverein.png" alt="Mietverein Hamburg Logo">
          </div>
          <div class="imgwrapper">
            <img src="assets/images/logos/abendblatt.png" alt="Hamburger Abendblatt Logo">
          </div>
        </div>
      </div>
    </main>
    {% include components/footer.html %}
    {% include global/javascript.html %}
  </body>
</html>
