---
layout: compress
---

{% assign theme = site.site-theme %}

{% for class in page.main-classes %}
  {% assign main-classes = '' | append: ' ' | append: class %}
{% endfor %}
{% if page.theme != nil %}
  {% capture page_theme %}page.theme{% endcapture %}
{% else %}
  {% capture page_theme %}{{ theme }}{% endcapture %}
{% endif %}

<!DOCTYPE>
<html>
  {% include global/head.html %}
  <body class="{{ page.page-name }}-page {{ page_theme }}">
    {% include components/header.html %}
    <main>

<ul class="slides">
    <li style="background-image: url(assets/images/Bild2.jpg)" id="slide">
        <div class="content">
            <h2>{{page.hero.title}}</h2>
            <div class="main">{{page.hero.lead}}</div>
            <h3>Im Umkreis von <span id="address"></span>:</h3>
            <div id="main" class="main">
              <p class="results-description">Anzahl der Wohnungen...</p>
                <table class="results">
                  <tr><td>in Privatbesitz</td><td id="flats_private_owned"></td></tr>
                  <tr><td>im Besitz von Wohnungsunternehmen</td><td id="flats_private_company_owned"></td></tr>
                  <tr><td>im Besitz von anderen Unternehmen</td><td id="flats_other_private_company_owned"></td></tr>
                  <tr><td>im Besitz von Genossenschaften</td><td id="flats_cooperative_owned"></td></tr>
                  <tr><td>in städtischem Besitz</td><td id="flats_public_body_owned"></td></tr>
                  <tr><td>im Besitz von NGOs oder Kirchen</td><td id="flats_ngo_church_owned"></td></tr>
                  <tr><td>in Staatseigentum</td><td id="flats_state_owned"></td></tr>
                  <tr><td>Insgesamt</td><td id="flats_total"></td></tr>
                </table>
                <div class="footnote"><small>{{page.hero.footnote}}</small></div>
                <div class="social-share">
                  <ul>
                    <li>
                      <a href="https://twitter.com/share?text={{page.twitter_text | url_encode}}&url=https%3A//wem-gehoert-hamburg.de" id="twitter" target="_blank"></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/sharer.php?u=https%3A//wem-gehoert-hamburg.de" id="facebook" target="_blank"></a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </li>
</ul>

    {% include footer.html %}
    {% include components/footer.html %}

<script>
function wem() {
    var street = getQueryVariable("street");
    var number = getQueryVariable("nr");
    var streetview = "https://maps.googleapis.com/maps/api/staticmap?maptype=satellite&size=640x640&scale=2&zoom=17&center="+street+number+"HamburgGermany&key=AIzaSyCdGzleqAIZ5HK5ePdemM6MnPz2h-21oCk";
    var wghhXhttp = new XMLHttpRequest();
    wghhXhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var response = JSON.parse(this.responseText);
            if (response.data == null){
                document.getElementById("main").innerText = "Sorry, no results were found for this address.";
            }
            else {
                for (var stat in response.data) {
                  var element = document.getElementById(stat);
                  if (element) element.innerText = response.data[stat];
                }
                document.getElementById("address").innerText = (street +" "+number);
            }
        }
    };
    wghhXhttp.open("GET", "https://wghh-census-api.apps.correctiv.org/"+window.location.search, true);
    wghhXhttp.send();
    document.getElementById("slide").style.backgroundImage = "url('"+streetview+"')";
}
wem();

function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
    console.log('Search variable %s not found.', variable);
}
</script>

