$content-width: 600px
$breakout-width: 800px

main
  @include mq($until: $sm)
    padding: 0 0 !important

.header
  position: fixed
  z-index: 3
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.8)
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  ul
    width: 40%

  @include mq($until: $sm)
    ul
      width: 100%

  ul.logos
    align-items: center

    img
      height: 40px

  ul li
    list-style-type: none
    display: inline

  ul.navigation
    color: white
    height: 50px
    display: flex
    align-items: center
    max-width: 380px
    justify-content: space-around

    .join
      padding: .3em
      background-color: $brand


@keyframes bounce
  0%
    bottom: 10%

  50%
    bottom: 13%

  100%
    bottom: 10%

.slides li
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-repeat: no-repeat
  background-size: cover
  margin-bottom: 40px
  position: relative

  &:not(:first-child)
    padding: 2em 0


  .attribution
    position: absolute
    background-color: white
    bottom: 0
    right: 0

  .content
    background: white
    width: $content-width
    max-width: 90%
    padding: 3em
    text-align: center

    .teaser
      font-size: 20px
      line-height: 30px
      margin-bottom: 1em

    .main
      font-size: 16px
      line-height: 26px

  &.hero
    img
      width: 400px
      position: absolute

    .scroller
      z-index: 3
      background-color: white
      border-radius: 50%
      position: absolute
      bottom: 10%
      left: 50%
      padding: 10px
      height: 50px
      width: 50px
      animation-name: bounce
      animation-duration: 4s
      animation-delay: 5s
      animation-iteration-count: 2

      img
        margin-top: 7px
        width: 30px

    video
      width: auto
      height: auto
      min-width: 100%
      min-height: 100%
      object-fit: cover

.logos
  display: flex
  justify-content: space-around

  .imgwrapper
    max-width: 30%
    display: flex
    align-items: center

    img
      width: 100%
      height: auto

  .title
    text-align: center
    width: 100%

.signup
  max-width: $breakout-width
  margin: 0 auto
  background: $brand
  color: white
  display: flex
  justify-content: center
  text-align: center
  padding: 40px 0

  @include mq($until: $sm)
    padding: 5px

  p
    line-height: 1.6em !important

  #mc-embedded-subscribe
    background-color: white
    color: #e83467

  input
    display: inline-block
    width: 40%

  input[type=submit]
    padding: 11px
    background-image: none
    border-width: 0
    border-style: solid
    border-radius: 0
    box-shadow: inset 0 0 0 0
    -webkit-appearance: none

  input[type=email]
    padding: 10px
    outline: none
    width: 230px
    max-width: 100%
    margin: 0 0 20px
    font-size: 13px
    border-radius: 0
    border: none

  .content
    width: $content-width

  h1, h2, p
    color: white

.blog
  justify-content: space-around
  display: flex
  margin-top: 3em

  @include mq($until: $sm)
    padding: 5px

    .article .text
      padding-left: 0 !important

  h1
    text-align: center

  .article
    display: grid
    grid-template-columns: 1fr 3fr
    grid-template-rows: 1.5em
    max-width: 600px
    margin-top: 2em


    .imgwrapper
      grid-column: 1
      grid-row: 1

    .meta, h2, .text
      grid-column: 2
      padding-left: 10px

    .meta
      grid-row: 1

    h2
      grid-row: 2

    .text
      grid-row: 3

    .meta
      color: gray

    h2
      line-height: 1em
      font-size: 1.4em
      font-family: "PT Sans", sans-serif
      transform: none

    .imgwrapper
      max-width: 200px

    .text
      line-height: 1.4em

    .articlelink
      color: $brand

    @include mq($until: $sm)
      .text
        grid-row: 3
        grid-column: 1 / span 2

.partners
  max-width: $breakout-width
  margin: 8em auto
  text-align: center
