body main
  padding-top: 50px !important

  @include mq($until: $sm)
    max-width: 100%
    padding: 70px 0 !important
    overflow-x: hidden

strong
  font-family: "PTSans-Bold", $base-font-family

.header
  position: fixed
  z-index: 3
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.8)
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  ul
    width: 40%

  @include mq($until: $sm)
    ul
      width: 100%

  @include mq($from: $sm)
    ul.navigation
      max-width: 380px

  ul.logos
    align-items: center

    img
      height: 40px

  ul li
    list-style-type: none
    display: inline

  ul.navigation
    color: white
    height: 50px
    display: flex
    align-items: center
    justify-content: space-around

    .join
      padding: .3em
      background-color: $brand
      &--disabled
        background-color: $gray


@keyframes bounce
  0%
    bottom: 10%

  50%
    bottom: 13%

  100%
    bottom: 10%


.hero
  letter-spacing: 0

  .background
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 40px
    padding-top: 40px
    position: relative
    background-repeat: no-repeat
    background-attachment: fixed
    background-position-x: center
    background-position-y: center
    background-size: cover

  .content
    position: relative
    width: 600px
    max-width: 90%
    flex-flow: column

  .hero-top
    display: block
    width: 40%
    margin: 0 auto -4.5rem

  .main
    clear: both
    width: 100%
    padding: 4em 10% 7%
    text-align: center
    margin-bottom: 1.5em
    background: white

    p
      margin: 0 0 1rem
      font-size: 1rem
      line-height: 1.4rem

  button, a.btn
    clear: both
    display: block
    margin: 1.5em auto 1.5em
    background-color: #e6007e
    border-radius: 0
    font-weight: 700

  .info
    clear: both
    width: 100%
    color: #9B9B9B
    text-decoration: underline
    text-underline-position: under
    line-height: 1.2em

  .timeline
    width: 90%
    max-width: 800px
    margin: 1rem auto 2rem

  .next
    display: block
    width: 30px
    margin: 3em auto 1em
    text-align: center

.logos
  display: flex
  justify-content: space-around

  .imgwrapper
    max-width: 30%
    display: flex
    align-items: center

    img
      width: 100%
      height: auto

  .title
    text-align: center
    width: 100%

.signup
  clear: both
  max-width: $breakout-width
  margin: 0 auto
  color: white
  display: flex
  justify-content: center
  text-align: center
  padding: 50px 0 0

  .content
    background: $brand
    padding: 2em

  p
    font-size: 1.125rem;
    line-height: 1.6em !important

  #mc-embedded-subscribe
    background-color: white
    color: #e83467

  input
    display: inline-block
    width: 40%

  input[type=submit]
    padding: 11px
    background-image: none
    border-width: 0
    border-style: solid
    border-radius: 0
    box-shadow: inset 0 0 0 0
    -webkit-appearance: none

  input[type=email]
    padding: 10px
    outline: none
    width: 40%
    max-width: 100%
    margin: 0 0 20px
    font-size: 13px
    border-radius: 0
    border: none

  .content
    width: $content-width

  h1, h2, p
    color: white

.footnote
  margin: 2em auto
  small
      font-family: "PT Sans", sans-serif
      color: $gray
      a
        color: darken($gray, 20%)
        text-decoration: underline


.blog
  justify-content: space-around
  display: flex
  margin-top: 3em

  h1
    text-align: center


  .article
    display: flex
    max-width: 600px
    margin-top: 3em

    .copy
      padding-left: 1em
      width: 60%

    .meta
      color: #635b66

    h2
      font-size: 1.3em
      line-height: 1.25em
      padding: 0 0 10px
      font-family: "PT Sans", sans-serif
      transform: none

    .imgwrapper
      max-width: 200px

    .text
      line-height: 1.4em

    .articlelink
      color: $brand

.row-3
  display: flex
  flex-flow: row
  position: relative
  clear: both
  width: 90%
  margin: 8rem auto

  @include mq($until: $xs)
    display: block
    margin: 4rem auto

  .column
    width: 33%

    @include mq($until: $xs)
      width: 100%

  &:after
    clear: both
    display: table
    content: ""

.column
  justify-content: space-around
  padding: 1rem

.how-to
  text-align: center

  h4
    font-family: $base-font-family
    font-size: 1.3rem
    font-weight: $bolder
    color: $brand
    transform: none

  p
    font-size: 1rem
    line-height: 1.4rem

  svg
    max-height: 4rem
    margin-bottom: 1rem

  path
    fill: $brand


@include mq($until: $sm)
  .blog
    padding: 5px

    .article .text
      padding-left: 0 !important

    .imgwrapper
      display: none

    .copy
      width: 100% !important
      padding-left: 0

.partners
  max-width: 500px
  margin: 5em auto 2em
  text-align: center
  line-height: 20px

  @include mq($until: $xs)
    padding: 1rem

  .title
    margin: 3em auto 1.5em

  .logos
    display: flex
    flex-wrap: wrap
    margin-top: 14px

    .imgwrapper
      min-width: 200px
      margin-bottom: 1.5em

    #correctiv-logo
      height: 72px
      width: 185px

.footer
  max-width: 500px
  margin: 2em auto 8em
  text-align: center
  color: $gray

  ul
    display: flex
    justify-content: space-around
    flex-flow: column

  li
    margin-top: 1em


