body.main-page{

  .toggle {
    border: none;

    p.info {
        text-align: center;
        text-decoration: underline;
        color: $gray;
    }
  }
  .toggle-title {
    border: none;

    i:before {
      content: none;
    }
  }
  .toggle-inner {
    text-align: left;
  }
}
